*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
}/*Global Values*/
:root{
    --primary-color:#272d38;
}
.whiteSpace{
    margin-left: 188px;
    margin-right: 187px;
}
ul {
    list-style: none;
}
a{
    color: var(--primary-color);
}
/*End Global Values*/
header{
    height: 100vh;
    background: linear-gradient(to bottom, #f7f9ff 0%, #ffffff 50%);
    background-repeat: no-repeat;
}
/* nav{
    margin-left:188px;
    margin-right:176px;
} */
nav .aura{
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    background-color: #8EADD53D;
    position: absolute;
    left:-25% ;
    bottom:-100% ;
    filter: blur(50px);
}
.navbar-brand{
    color: var(--primary-color);
    font-weight: 700;
}
.nav-link{
    color: var(--primary-color);;
    font-weight: 400;
}
.nav-link:not(:last-child){
    margin-right: 44px;
}
.navbar-toggler:focus{
    box-shadow:none ;
}

/*Hero*/
.hero {
    margin-top: 97px;
    .main-heading{
        color: var(--primary-color);
        max-width: 540px;
    }
    p {
        font-size: 18px;
        max-width: 500px;
        color: var(--primary-color);
    }
}
.hero-img{
    max-width: 450px;
}
.hero-img img{
    max-width: 450px !important;
}
.btn {
    color: #ffffff;
    background-color: #8eadd5;
    line-height: 27.5px;
    margin-top: 39px;
    width:167px ;
}
.btn:hover{
    color:#fff;
    background-color:#7088a8 ;
}
.brands{
    margin-top: 157px;
    .brands-container{
        background-color: #F6F6F6;
        height: 100%;
    }
}
.about-info{
    max-width: 435px;
}
#about svg{
    font-size: 20px;
}
.analyze{
    margin-top: 120px;
}
footer{
    width: 100%;
    margin-top: 136px;
    background-color: #bbbbbb;
    h2{font-size: 18px;}
    .container{
        padding-top: 105px;
    }
    .logo{
        max-width: 205px;
        h2{margin-bottom: 40px;}
        p{font-size: 16px;
        color: var(--primary-color);}
    }
    .trade-mark{
        margin-top: 110px;
    }
}
/*Media Query*/
@media screen and (min-width:1200){
    .whiteSpace{
    margin-left: 188px;
    margin-right: 187px;
}
}
@media screen and (max-width:992px){
    .whiteSpace{
        margin-left: 0;
        margin-right: 0;
    }
nav{
    margin-inline:24px ;
}
.hero{
    margin-top: 50px;
}
.navbar-brand{
    font-size: 14px;
}
}

@media screen and (max-width:768px) {
    .whiteSpace{
        margin-inline: 25px;
    }
    .hero{
        flex-grow: 0;
        align-items: flex-start !important;
    }
    .navbar-brand{
        font-size: 14px !important;
    }
    .navbar-toggler{
        width: 24px;
        height: 24px;
    }
    .hero-info{
        text-align: center;
    }
    .hero-img{
        min-width:250px;
    }
    .hero-img img{
        width: 100%;
    }
    .brands-container{
        padding: 24px 16px !important;
        min-width: 250px !important;
        flex-wrap: nowrap;
        img{
            padding-inline: 10px;
            max-width:70px ;
    }
    img:last-child{
        width: 50px;
    }
    }
    .about {
        flex-direction: column-reverse;

    }
    #about svg{
            transform: rotate(90deg);
    }
    .contact img{
        display: none;
    }
    footer .row{
        flex-direction: column;
        text-align: center;
        .info-div{
            margin-bottom: 72px;
        }
         .logo{
        max-width: 205px;
        margin: 0 auto;
        margin-bottom: 72px;}
    }
    footer .trade-mark{
        margin-top: 0;
    }   
}