*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
}
/*Global Values*/
:root{
    --primary-color:#272d38;
    --aura-color:#8EADD53D;
    --btn-primary:#8eadd5;
    --btn-hover:#7088a8;
    --white:#fff;
    --card-bg:#F6F6F6;
}
.whiteSpace{
    margin-inline: 188px;
}
a{
    color: var(--primary-color);
}
.mb-120{
    margin-bottom: 120px;
}
.fs-p{
    font-size: 14px;
}
/*End Global Values*/
header{
    height: 100vh;
}
header::before{
    content: '';
    position: absolute;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    background-color: var(--aura-color);
    top: -8%;
    left: -12%;
    filter: blur(100px);
}
.navbar-brand,.nav-link{
    color: var(--primary-color);
}   
.nav-link:not(:last-child){
    margin-right: 44px;
}
.navbar-toggler:focus{
    box-shadow:none ;
}

/*Hero*/
.hero {
    margin-top: 97px;
    .main-heading{
        color: var(--primary-color);
        max-width: 540px;
    }
    p {
        font-size: 18px;
        max-width: 500px;
        color: var(--primary-color);
    }
}
.hero-img{
    max-width: 450px;
}
.hero-img img{
    max-width: 100% !important;
}
.btn {
    color: var(--white);
    background-color: var(--btn-primary);
    line-height: 27.5px;
    margin-top: 39px;
    width:167px ;
}
.btn:hover,
.btn:active{
    color:var(--white) !important;
    background-color:var(--btn-hover) !important;
}
.about::before{
    content: '';
    position: absolute;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    background-color: var(--aura-color);
    top: 20%;
    right: -25%;
    filter: blur(100px);
    z-index: -1;
}
/*TESTIMONIAL*/
/*to hide the carousel Transition*/
.carousel-fade-no-transition .carousel-item {
    transition: none !important;
    opacity: 1 !important;
    display: none;
}
.carousel-fade-no-transition .carousel-item.active {
    display: block;
}

#testimonial{
    max-width: 1065px;
}
.testimonial-heading{
    max-width: 436px;
    h1,h2{
        color: var(--primary-color);
    }
}
.testimonial-card {
    background: white;
    border-radius: 20px;
    max-width: 345px;

    p{
        max-width: 280px;
    }
}
.testimonial-card img {
    width: 130px;
    height: 130px;
}
.carousel-indicators {
    margin-top: 40px;
    margin-bottom: 0;
}
        
.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #dee2e6;
    border: none;
    margin: 0 5px;
    opacity: 1;
}
        
.carousel-indicators .active{
    background-color: var(--btn-primary);
    height: 24px;
    width: 24px;
}
/*---------*/         
#contact{
    background-color: var(--card-bg);
    border-radius: 20px;
    max-width: 1065px;
}
footer{
    width: 100%;
    margin-top: 136px;
    background-color: var(--bg-color);

    h2{
        font-size: 18px;
    }
    .container{
        padding-top: 105px;
    }
    .logo{
        max-width: 205px;
        h2{margin-bottom: 40px;}
        p{
        color: var(--primary-color);}
    }
    .trade-mark{
        margin-top: 110px;
    }
}

@media screen and (max-width:1024px){
.whiteSpace{
    margin-inline: 50px;
}
.container{
    max-width: 992px;
}
.hero{
    margin-top: 50px;
}
.navbar-brand{
    font-size: 14px;
}
footer .row{
    justify-content: space-around !important;
}
}

@media screen and (max-width:768px) {
    header{
        height: fit-content !important;
    }
    .whiteSpace{
        margin-inline: 25px;
    }
    .hero{
        align-items: flex-start !important;
        p,h1{
            max-width: 100% !important;
        }
    }
    .navbar-brand{
        font-size: 14px !important;
    }
    .navbar-toggler{
        width: 24px;
        height: 24px;
    }
    .hero-img{
        min-width:250px;
        margin: 0 auto; 
    }
    .hero-img img{
        width: 100%;
    }

    .about-row {
        flex-direction: column-reverse;

    }
    #about svg{
        transform: rotate(90deg);
    }
    .contact img{
        display: none;
    }
    #testimonial{
        margin-bottom: 120px;
    }
    .mobile-carousel{
        display: block !important;
    }
    .desktop-carousel{
        display: none;
    }
    .testimonial-heading{
    h1{
        font-size: 12px !important;
    }
    h2{
        font-size: 32px;
    }
}

    #contact .container{
        h2,p{
            max-width: 309px;
            text-align: center;
            margin: 0 auto;
        }
        h2{
            font-size: 32px !important;
        }
        p{
            font-size: 16px !important;
        }
    }

    footer .row{
        flex-direction: column;
        text-align: center;
        .info-div{
            margin-bottom: 72px;
        }
        .logo{
        max-width: 205px;
        margin: 0 auto;
        margin-bottom: 72px;}
    }
    footer .trade-mark{
        margin-top: 0;
    }   
}
@media screen and (max-width:540px){
    .about::before{
        top: 40%;
        right: -20%;
    }
}